

<style>
    .hidden_new-update-alert{
        /*display:none;*/
    }

    .search-dropdown-result > a{
        display: block;
        padding: 6px 10px 8px;
        transition: all .1s ease-in-out;
        text-decoration: none;
        height: 41px;
        border-bottom: 1px solid #f2f2f2;
    }

    .search_item_a:hover{
        background: #d2d5da8a;
        transition: 0.5s;
    }
    
    .search-user-avatar.pull-left > img{
        width: 27px!important;
        height: 27px!important;
    }

    .dropdown-toggle.sixteen-font-size.btn-main{
        background: #a84849;
    }
</style>


<input type="hidden" id="user_email_socket" value="<%=user.email%>">
<header class="header-container">
    <div class="navbar navbar-default navbar-fixed-top" style="    background: #4d91ea;">
        <nav class="header-fixed1000">
            <div class="container-fluid">
                <a class="brand header-brand" href="/feed">
                    <img width="130" src="/images/logo.png" alt="WoWonder Logo">
                </a>
                <ul class="nav navbar-nav">
                    <li class="dropdown search-container">
                        <form class="navbar-form navbar-left col-lg-12 form-group" data-toggle="dropdown" role="button" id="navbar-searchbox">
                            <div class="form-group inner-addon left-addon ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather main-color feather-search glyphicon">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg>
                                <input style="background: #ffffff !important;color: black!important;" type="text" class="form-control search-input"  placeholder="Search for people, pages and groups." dir="auto">
                            </div>
                        </form>
                        <ul class="dropdown-menu search-dropdown-container" style="margin-left:7px;padding-top: 0;" role="menu">
                            <div class="search-dropdown-result">
                            </div>
                            <li>
                              <span class="search-advanced-container">
                                 <a href="https://demo.wowonder.com/search" class="search-advanced-link" data-ajax="?link1=search">
                                    <div class="feather-svg-parent">
                                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                                          <circle cx="11" cy="11" r="8"></circle>
                                          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                       </svg>
                                    </div>
                                    <span style="vertical-align: middle;display: table-cell;padding-left: 0;font-size: 11px">
                                    Advanced Search
                                    <span id="wo_repeat_search"></span>
                                    </span>
                                 </a>
                              </span>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right pull-right" id="head_menu_rght">
                    <li class="head_name_links">
                        <a class="sixteen-font-size" href="<?=base_url()?>posts" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z"></path>
                            </svg>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="dropdown head_name_links header_item" id="head_name_links">
                        <a  class="dropdown-toggle sixteen-font-size btn-main" data-toggle="dropdown" role="button" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"></path>
                            </svg>
                        </a>
                        <ul class="dropdown-menu clearfix create_head_menu" role="menu">
                            <li class="animated">
                                <a href="https://demo.wowonder.com/ads/create/">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="#9c27b0" d="M12,8H4A2,2 0 0,0 2,10V14A2,2 0 0,0 4,16H5V20A1,1 0 0,0 6,21H8A1,1 0 0,0 9,20V16H12L17,20V4L12,8M21.5,12C21.5,13.71 20.54,15.26 19,16V8C20.53,8.75 21.5,10.3 21.5,12Z"></path>
                                    </svg>
                                    Create Ad
                                </a>
                            </li>
                            <li class="animated_20">
                                <a href="https://demo.wowonder.com/create-blog/">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="#009da0" d="M18,20H6V18H4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V18H18V20M14,2H6A2,2 0 0,0 4,4V12H6V4H14V8H18V12H20V8L14,2M11,16H8V14H11V16M16,16H13V14H16V16M3,14H6V16H3V14M21,16H18V14H21V16Z"></path>
                                    </svg>
                                    Create Blog
                                </a>
                            </li>
                            <li class="animated_40">
                                <a href="https://demo.wowonder.com/events/create-event/">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="#f25e4e" d="M19,19H5V8H19M16,1V3H8V1H6V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3H18V1M17,12H12V17H17V12Z"></path>
                                    </svg>
                                    Create Event
                                </a>
                            </li>
                            <li class="animated_60">
                                <a href="https://demo.wowonder.com/create-group" data-ajax="?link1=create-group">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="#03A9F4" d="M12,6A3,3 0 0,0 9,9A3,3 0 0,0 12,12A3,3 0 0,0 15,9A3,3 0 0,0 12,6M6,8.17A2.5,2.5 0 0,0 3.5,10.67A2.5,2.5 0 0,0 6,13.17C6.88,13.17 7.65,12.71 8.09,12.03C7.42,11.18 7,10.15 7,9C7,8.8 7,8.6 7.04,8.4C6.72,8.25 6.37,8.17 6,8.17M18,8.17C17.63,8.17 17.28,8.25 16.96,8.4C17,8.6 17,8.8 17,9C17,10.15 16.58,11.18 15.91,12.03C16.35,12.71 17.12,13.17 18,13.17A2.5,2.5 0 0,0 20.5,10.67A2.5,2.5 0 0,0 18,8.17M12,14C10,14 6,15 6,17V19H18V17C18,15 14,14 12,14M4.67,14.97C3,15.26 1,16.04 1,17.33V19H4V17C4,16.22 4.29,15.53 4.67,14.97M19.33,14.97C19.71,15.53 20,16.22 20,17V19H23V17.33C23,16.04 21,15.26 19.33,14.97Z"></path>
                                    </svg>
                                    Create Group
                                </a>
                            </li>
                            <li class="animated_80">
                                <a href="https://demo.wowonder.com/create-page" data-ajax="?link1=create-page">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="#f79f58" d="M14.4,6L14,4H5V21H7V14H12.6L13,16H20V6H14.4Z"></path>
                                    </svg>
                                    Create Page
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown requests-container header_item" id="requests">
                        <span class="new-update-alert hidden_new-update-alert"><%= request_count === 0 ?  '' : request_count %></span>
                        <a  class="dropdown-toggle sixteen-font-size" data-toggle="dropdown" role="button" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M16,13C15.71,13 15.38,13 15.03,13.05C16.19,13.89 17,15 17,16.5V19H23V16.5C23,14.17 18.33,13 16,13M8,13C5.67,13 1,14.17 1,16.5V19H15V16.5C15,14.17 10.33,13 8,13M8,11A3,3 0 0,0 11,8A3,3 0 0,0 8,5A3,3 0 0,0 5,8A3,3 0 0,0 8,11M16,11A3,3 0 0,0 19,8A3,3 0 0,0 16,5A3,3 0 0,0 13,8A3,3 0 0,0 16,11Z"></path>
                            </svg>
                        </a>
                        <ul  class="dropdown-menu request-list clearfix notifications-dropdown" role="menu" id="requests-list">
                            <%-request_follow%>
                        </ul>
                    </li>
                    <li class="dropdown messages-notification-container header_item" id="messages" >
                        <span class="new-update-alert hidden_new-update-alert">
                        0   </span>
                        <a  class="dropdown-toggle sixteen-font-size" data-toggle="dropdown" role="button" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4C22,2.89 21.1,2 20,2Z"></path>
                            </svg>
                        </a>
                        <ul class="dropdown-menu clearfix notifications-dropdown messages-dropdown" role="menu" id="messages-list">
                            <li>
                                <h5 class="text-center">
                                    <svg width="50px" height="50px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                        <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                                        <circle cx="50" cy="50" r="40" stroke="#676d76" fill="none" stroke-width="6" stroke-linecap="round">
                                            <animate attributeName="stroke-dashoffset" dur="1.5s" repeatCount="indefinite" from="0" to="502"></animate>
                                            <animate attributeName="stroke-dasharray" dur="1.5s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4"></animate>
                                        </circle>
                                    </svg>
                                </h5>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown notification-container header_item"  id="notification">
                        <span class="new-update-alert hidden_new-update-alert" >
                        0   </span>
                        <a  class="dropdown-toggle sixteen-font-size" data-toggle="dropdown" role="button" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21"></path>
                            </svg>
                        </a>
                        <ul class="dropdown-menu clearfix notifications-dropdown" role="menu">
                            <li  class="turn-off-sound text-left">
                              <span>
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-volume-2">
                                    <polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon>
                                    <path d="M19.07 4.93a10 10 0 0 1 0 14.14M15.54 8.46a5 5 0 0 1 0 7.07"></path>
                                 </svg>
                                 Turn off notification sound
                              </span>
                            </li>
                            <li id="notification-list">
                                <h5 class="text-center">
                                    <svg width="50px" height="50px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                        <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                                        <circle cx="50" cy="50" r="40" stroke="#676d76" fill="none" stroke-width="6" stroke-linecap="round">
                                            <animate attributeName="stroke-dashoffset" dur="1.5s" repeatCount="indefinite" from="0" to="502"></animate>
                                            <animate attributeName="stroke-dasharray" dur="1.5s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4"></animate>
                                        </circle>
                                    </svg>
                                </h5>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown header_item" id="dropdown_menu">
                        <a class="dropdown-toggle user-menu-combination" data-toggle="dropdown" role="button" aria-expanded="false">
                            <!--<span id="user-full-name" class="User-Name hidden-xs">
                               a200796a              </span>-->
                            <div class="user-avatar">
                                <img id="updateImage-46169" src="/<%= user.profil_photo%>" alt="a200796a Profile Picture">
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="12" cy="5" r="1"></circle>
                                <circle cx="12" cy="19" r="1"></circle>
                            </svg>
                        </a>
                        <ul class="dropdown-menu ani-acc-menu"  role="menu">
                            <li>
                                <a id="update-username" href="/profile" ><b><%= user.name%></b></a>
                            </li>

                            <li>
                                <hr>
                            </li>

                            <li class="dropdown-search-link">
                                <a href="https://demo.wowonder.com/search" data-ajax="?link1=search">Search</a>
                            </li>
                            <li>
                                <hr>
                            </li>
                            <!--        <li class="dropdown-hidden-link">
                               <a href="https://demo.wowonder.com/create-page" data-ajax="?link1=create-page">Create New Page</a>
                               </li>
                                         <li class="dropdown-hidden-link">
                               <a href="https://demo.wowonder.com/create-group" data-ajax="?link1=create-group">Create New Group</a>
                               </li>
                               -->
                            <li class="dropdown-search-link">
                                <a href="https://demo.wowonder.com/pages" data-ajax="?link1=pages">Pages</a>
                            </li>
                            <li class="dropdown-search-link">
                                <a href="https://demo.wowonder.com/my-products" data-ajax="?link1=my-products">My Products</a>
                            </li>
                            <li class="dropdown-search-link">
                                <a href="https://demo.wowonder.com/products">Market</a>
                            </li>
                            <li class="dropdown-search-link">
                                <a href="https://demo.wowonder.com/blogs" data-ajax="?link1=blogs">Blog</a>
                            </li>
                            <li class="dropdown-search-link">
                                <a href="https://demo.wowonder.com/my-blogs/" data-ajax="?link1=my-blogs">My articles</a>
                            </li>
                            <li class="dropdown-search-link">
                                <a href="https://demo.wowonder.com/movies/">Movies</a>
                            </li>
                            <li class="dropdown-search-link">
                                <a href="https://demo.wowonder.com/events/" data-ajax="?link1=events">Events</a>
                            </li>
                            <li class="dropdown-search-link">
                                <a href="https://demo.wowonder.com/groups" data-ajax="?link1=groups">Groups</a>
                            </li>
                            <li class="dropdown-search-link">
                                <a href="https://demo.wowonder.com/forum/">Forum</a>
                            </li>

                            <li class="dropdown-search-link">
                                <a href="https://demo.wowonder.com/albums" data-ajax="?link1=albums">Albums</a>
                            </li>
                            <li>
                                <hr>
                            </li>
                            <li class="dropdown-hidden-link">
                                <a href="https://demo.wowonder.com/setting/profile-setting" data-ajax="?link1=setting&amp;page=profile-setting">Edit</a>
                            </li>
                            <li class="dropdown-hidden-link">
                                <a href="https://demo.wowonder.com/setting/general-setting" data-ajax="?link1=setting&amp;page=general-setting">General Setting</a>
                            </li>
                            <li class="dropdown-search-link">
                                <a href="https://demo.wowonder.com/setting" data-ajax="?link1=setting">Settings</a>
                            </li>
                            <li>
                                <hr>
                            </li>
                            <li>
                                <a href="https://demo.wowonder.com/admin-cp">Admin Area</a>
                            </li>
                            <li>
                                <hr>
                            </li>
                            <li>
                                <a href="/login/logout">Log Out</a>
                            </li>
                            <li>
                                <hr>
                            </li>
                            <li>
                                <a href="javascript:void(0);" id="night_mode_toggle" data-mode="night">
                                    <span id="night-mode-text">Night mode</span>
                                    <svg class="feather feather-moon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                                        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                                    </svg>
                                </a>
                            </li>
                            <span class="headtoppoint"></span>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="loader" style="display: none;"></div>










    <script type="text/javascript">

        // var Searchcontainer = $('.search-container');
        // var SearchBox = $('.search-container .search-input');
        // var SearchResult = $('.search-dropdown-result');
        //
        // function Wo_ChangeHomeButtonIcon() {
        //
        //     $('.navbar-home #home-button').html('<i class="fa fa-circle-o-notch fa-spin"></i>');
        // }
        //
        // function Wo_DetectSearchType(query) {
        //     var Hash = smokeTheHash(query);
        //     if (Hash) {
        //         $('.search-advanced-container').hide(200);
        //         Wo_SearchhashResult(query);
        //     } else {
        //         $('.search-advanced-container').fadeIn(200);
        //         Wo_SearchResult(query);
        //     }
        // }
        //
        // function Wo_ClearSearches() {
        //     $('.clear-searches').html('<i class="fa fa-spinner fa-spin"></i>');
        //     $.get(Wo_Ajax_Requests_File(), {f: 'clearChat'}, function(data) {
        //         if (data.status == 200) {
        //             location.reload();
        //         }
        //     });
        // }
        //
        // function Wo_GetRecentSearchs() {
        //     $.get(Wo_Ajax_Requests_File(), {f: 'search', s: 'recent'}, function(data) {
        //         if (data.status == 200) {
        //             if (data.html.length > 0) {
        //                 SearchResult.html('<div class="recent"><div class="gray recent-searches pull-left"> Recent Searches</div><div onclick="Wo_ClearSearches();" class="gray recent-searches clear-searches pointer pull-right" style="color: #F44336;"><svg style="vertical-align: middle;margin-top: -3px;" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>Clear</div><div class="clear"></div></div>' + data.html);
        //             }
        //         }
        //     });
        // }
        // function Wo_SearchResult(query) {
        //     if (SearchBox.val() != '') {
        //         Wo_progressIconLoader(Searchcontainer.find('.navbar-form'));
        //         Searchcontainer.addClass('open');
        //         Searchcontainer.find('.search-advanced-link').attr('href','https://demo.wowonder.com/search/' + query);
        //         Searchcontainer.find('.search-advanced-link').attr('data-ajax','?link1=search&query=' + query);
        //         $.get(Wo_Ajax_Requests_File(), {f: 'search', s: 'normal', query: query}, function(data) {
        //             if (data.status == 200) {
        //                 if (data.html.length == 0) {
        //                     SearchResult.html('<span class="center-text">' + " No result found" + '<span>');
        //                 } else {
        //                     SearchResult.html(data.html);
        //                 }
        //             }
        //             Wo_progressIconLoader(Searchcontainer.find('.navbar-form'));
        //         });
        //         $(document).click(function() {
        //             Searchcontainer.removeClass('open');
        //         });
        //     } else {
        //         Searchcontainer.removeClass('open');
        //     }
        // }
        //
        //
        // function Wo_SearchhashResult(query) {
        //     var Searchcontainer = $('.search-container');
        //     var SearchBox = $('.search-container .search-input');
        //     var SearchResult = $('.search-dropdown-result');
        //     if (SearchBox.val() != '') {
        //         Wo_progressIconLoader(Searchcontainer.find('.navbar-form'));
        //         Searchcontainer.addClass('open');
        //         Searchcontainer.find('.search-advanced-link').attr('href','https://demo.wowonder.com/search/' + query);
        //         Searchcontainer.find('.search-advanced-link').attr('data-ajax','?link1=search&query=' + query);
        //         $.get(Wo_Ajax_Requests_File(), {f: 'search', s: 'hash', query: query}, function(data) {
        //             if (data.status == 200) {
        //                 if (data.html.length == 0) {
        //                     SearchResult.html('<span class="center-text">' + " No result found" + '<span>');
        //                 } else {
        //                     SearchResult.html(data.html);
        //                 }
        //             }
        //             Wo_progressIconLoader(Searchcontainer.find('.navbar-form'));
        //         });
        //
        //         $(document).click(function() {
        //             Searchcontainer.removeClass('open');
        //         });
        //     } else {
        //         Searchcontainer.removeClass('open');
        //     }
        // }
        //
        // function smokeTheHash(str) {
        //     var n = str.search("#");
        //     if(n != "-1"){
        //         return true;
        //     } else {
        //         return false;
        //     }
        // }
    </script>





    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost:8080');



      $(document).ready(function(){
        $('#requests .new-update-alert').removeClass('hidden_new-update-alert')
          var user_email = $('#user_email_socket').val()
          socket.emit("add-user", {"username": user_email});
      })


      $(document).on('click','.get_following_btn',function(){
        var guest_mail = $('#guest_em').val()
        var my_email = $('#user_email_socket').val()
           console.log(guest_mail,my_email)
        socket.emit("send_request", {"guest_mail": guest_mail,'my_email':my_email});
        // socket.emit("show-all-follower", {"my_email": my_email});
      })


      // Show request
      socket.on("add-request", function(data){
			soundClick()

											let bool = true
        $('.data_req_us_id').each(function(i,elem) {

          if($(this).val() == data.requester_id){
                bool = false
          }
        })


        if (bool){
          let count_req =  $('#requests .new-update-alert').text()
          count_req = count_req.replace(/\s/g, '')
          if(count_req.length == 0){
            $('#requests .new-update-alert').removeClass('hidden_new-update-alert').html('1')
          }else{
            count_req = Number(count_req)
            count_req ++
            $('#requests .new-update-alert').removeClass('hidden_new-update-alert').html(count_req)
          }
          $('#requests-list').prepend(data.result)
        }

      });

        function soundClick() {
            var audio = new Audio(); // Создаём новый элемент Audio
            audio.src = 'https://demo.wowonder.com/themes/default/mp3/New-notification.mp3';
            audio.autoplay = true; // Автоматически запускаем
            console.log('new_request')
        }

      //  CHANGE follow request status

      $(document).on('click','.request_item',function(){
           let follower_id = $(this).find('.data_req_us_id').val()
           let _this = $(this);
           $.ajax({
             url:'/follower/change_follow_status',
             type:'POST',
             data:{'follower_id':follower_id},
             success:function(r){
             	location.href = `/user/${r}`
               // _this.remove()
               // let count_req =  $('#requests .new-update-alert').text()
               // count_req = count_req.replace(/\s/g, '')
               // count_req = Number(count_req)
               // if (count_req > 1){
               //   count_req--
               //   $('#requests .new-update-alert').html(count_req)
               // }else{
               //   $('#requests .new-update-alert').empty()
               // }
               // $('#requests').removeClass('open')
             }
           })
      })


    </script>
</header>